.movies-header {
    color:white;
    font-size: 75px;
}

.movie-categories > .nav-item > .nav-link {
    color: white !important;
}

.movie-categories > .nav-item > .active {
    color: black !important;
}

.movies {
    display: flex;
}

.movie {
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
