.movie-title {
    color:white !important;
    font-size: 50px;
    margin: 20px;
}

.poster-info {
    display: flex;

    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    min-width: 75%;
    height: fit-content;

    background-color: white;
}

.poster {
    width: 300px;
    height: auto;
}

.synopsis {
    width: 400px;
    height: 250px;
    overflow-y: scroll;
    color: black;
    background-color: white;
}

.movie-trailer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

#showtime-seats {
    display: none;
}

#seats {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
    border-right: 1px solid black;
}

td:hover {
    background-color: #bcbcbc;
    color: black;
}